{% extends "base.html" %}
{% from "_ui.html" import box, title %}
{% block title %}Latest Deaths{% endblock %}
{% block content %}
{{ title('Latest deaths') }}
{% call box('The fallen') %}
	{% if not rows %}<p>Nobody has died yet. It will not last.</p>{% endif %}
	{% if rows %}
	<table class="tbl">
		{% for r in rows %}
		<tr><td style="white-space:nowrap">{{ r.time | timestamp }}</td>
			<td><a href="/character/{{ r.name }}">{{ r.name }}</a> died at level {{ r.level }} by {% if r.is_player %}<a href="/character/{{ r.killed_by }}">{{ r.killed_by }}</a>{% else %}{{ r.killed_by }}{% endif %}.</td></tr>
		{% endfor %}
	</table>
	{% endif %}
{% endcall %}
{% endblock %}
