{% extends "base.html" %}
{% from "_ui.html" import box, title, show_errors %}
{% block title %}Login{% endblock %}
{% block content %}
{{ title('Account login') }}
{% call box('Log in') %}
	{{ show_errors(errors) }}
	<form method="post" action="/login" class="stack">
		<label>Account name or email <input name="username" required autofocus></label>
		<label>Password <input type="password" name="password" required></label>
		<input type="hidden" name="token" value="{{ csrf }}">
		<div><button class="btn big" type="submit">Log in</button></div>
		<p class="fineprint">No account yet? <a href="/register">Create one</a>. Forgot your password? <a href="/legacy/sub.php?page=recover">Recover it</a>.</p>
	</form>
{% endcall %}
{% endblock %}
