{% extends "base.html" %}
{% from "_ui.html" import box, title %}
{% block title %}Spells{% endblock %}
{% block content %}
{{ title('Spells', rows | length ~ ' spells') }}
<div class="tabs">
	<a class="tab {% if cat == 'all' %}active{% endif %}" href="/spells?voc={{ voc }}">All types</a>
	{% for c in cats %}<a class="tab {% if cat == c %}active{% endif %}" href="/spells?cat={{ c }}&voc={{ voc }}">{{ c | capitalize }}</a>{% endfor %}
</div>
<div class="tabs">
	<a class="tab {% if voc == 'all' %}active{% endif %}" href="/spells?cat={{ cat }}">Every vocation</a>
	{% for v in ['sorcerer', 'druid', 'paladin', 'knight'] %}<a class="tab {% if voc == v %}active{% endif %}" href="/spells?cat={{ cat }}&voc={{ v }}">{{ v | capitalize }}s</a>{% endfor %}
</div>
{% call box('Spell list') %}
	<div style="overflow-x:auto">
	<table class="tbl">
		<tr><th>Spell</th><th>Words</th><th class="num">Level</th><th class="num">Mana</th><th>Type</th><th>Vocations</th></tr>
		{% for s in rows %}
		<tr><td>{{ s.name }}</td><td><code>{{ s.words }}</code></td><td class="num">{{ s.level }}</td><td class="num">{{ s.mana }}</td><td>{{ s.category | capitalize }}</td><td>{{ s.vocations | map('capitalize') | join(', ') }}</td></tr>
		{% endfor %}
	</table>
	</div>
{% endcall %}
{% endblock %}
